version: 2.1
jobs:
  build:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - restore_cache:
          keys:
            - npm-v1-{{ checksum "package.json" }}
            - npm-v1-

      - run:
          name: Install dependencies
          command: npm install

      - save_cache:
          paths:
            - node_modules
          key: npm-v1-{{ checksum "package.json" }}

      - run:
          name: Build Docker image
          command: docker build -t arminnuk/node-app:latest .

      - run:
          name: Push Docker image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push DOCKERHUB_USERNAME/node-app:latest

      # Dodajte ovde korake za deployovanje na ciljnom serveru

# ...
